docker-compose/n8n/workflows/rss.json
{
  "name": "RSS Tech Feed Curation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://openai.com/blog/rss.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000001",
      "name": "OpenAI RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 100]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://blog.google/technology/ai/rss/"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Google AI RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://kubernetes.io/feed.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000003",
      "name": "Kubernetes RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://istio.io/blog/feed.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000004",
      "name": "Istio RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 700]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://blog.rust-lang.org/feed.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000005",
      "name": "Rust RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 900]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://go.dev/blog/feed.atom"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000006",
      "name": "Go RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 1100]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://medium.com/feed/argo-project"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000008",
      "name": "ArgoCD RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 1300]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://knative.dev/blog/feed_rss_created.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000009",
      "name": "Knative RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 1500]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://blog.cloudflare.com/rss/"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000014",
      "name": "Cloudflare RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 1700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"gemma4:26b\", \"messages\": [{ \"role\": \"system\", \"content\": \"You are a tech news relevance classifier. Analyze the article and respond with ONLY a JSON object: {\\\"relevant\\\": true/false}. An article is relevant unless it is marketing content. Marketing content includes promotional announcements, community events, sponsorship posts, and partnership announcements.\" }, { \"role\": \"user\", \"content\": \"Title: \" + $json.title + \"\\nContent: \" + ($json.contentSnippet || $json['content:encodedSnippet'] || \"\").substring(0, 5000) }], \"stream\": false, \"format\": \"json\" }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000010",
      "name": "Ollama Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 600]
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.message.content);\nconst source = $('Merge').first().json;\nreturn [{ json: { ...response, title: source.title, link: source.link, snippet: source.contentSnippet || source['content:encodedSnippet'] || '', source: source._feedSource || 'unknown' } }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000011",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-0",
              "leftValue": "={{ $json.relevant }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000012",
      "name": "Is Relevant",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [920, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"translategemma:12b\", \"messages\": [{ \"role\": \"user\", \"content\": \"Summarize the following text in Japanese in 2-3 concise sentences. Do not translate verbatim. Output only a Japanese summary.\\n\" + $json.snippet }], \"stream\": false }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000016",
      "name": "Translate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1140, 600]
    },
    {
      "parameters": {
        "jsCode": "const translation = $input.first().json.message.content;\nconst source = $('Parse Response').first().json;\nreturn [{ json: { ...source, summary: translation } }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000017",
      "name": "Parse Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 600]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AN509F50A",
          "mode": "id"
        },
        "text": "=:newspaper: *{{ $json.source }}*\n\n*{{ $json.title }}*\n{{ $json.summary }}\n\n{{ $json.link }}",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000013",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1580, 600]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000007",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [480, 400]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'OpenAI' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000021",
      "name": "Tag OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 100]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Google AI' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000022",
      "name": "Tag Google AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Kubernetes' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000023",
      "name": "Tag Kubernetes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 500]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Istio' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000024",
      "name": "Tag Istio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 700]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Rust' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000025",
      "name": "Tag Rust",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 900]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Go' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000026",
      "name": "Tag Go",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 1100]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'ArgoCD' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000027",
      "name": "Tag ArgoCD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 1300]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Knative' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000028",
      "name": "Tag Knative",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 1500]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Cloudflare' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000029",
      "name": "Tag Cloudflare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 1700]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://importai.substack.com/feed"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000030",
      "name": "Import AI RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 1900]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Import AI' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000037",
      "name": "Tag Import AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 1900]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://this-week-in-rust.org/atom.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000031",
      "name": "This Week in Rust RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 2100]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'This Week in Rust' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000038",
      "name": "Tag This Week in Rust",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 2100]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://golangweekly.com/rss/"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000032",
      "name": "Golang Weekly RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 2300]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Golang Weekly' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000039",
      "name": "Tag Golang Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 2300]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://developers.cloudflare.com/changelog/rss/index.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000033",
      "name": "Cloudflare Changelog RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 2500]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'Cloudflare Changelog' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000040",
      "name": "Tag Cloudflare Changelog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 2500]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://devopsweeklyarchive.com/feed.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000034",
      "name": "DevOps Weekly RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 2700]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'DevOps Weekly' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000041",
      "name": "Tag DevOps Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 2700]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://sreweekly.com/feed/"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000035",
      "name": "SRE Weekly RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 2900]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'SRE Weekly' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000042",
      "name": "Tag SRE Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 2900]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 60
            }
          ]
        },
        "feedUrl": "https://rss.beehiiv.com/feeds/xgTKUmMmUm.xml"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000036",
      "name": "tl;dr sec RSS",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [200, 3100]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, _feedSource: 'tl;dr sec' } }));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000043",
      "name": "Tag tl;dr sec",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 3100]
    }
  ],
  "connections": {
    "OpenAI RSS": {
      "main": [
        [
          {
            "node": "Tag OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google AI RSS": {
      "main": [
        [
          {
            "node": "Tag Google AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kubernetes RSS": {
      "main": [
        [
          {
            "node": "Tag Kubernetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Istio RSS": {
      "main": [
        [
          {
            "node": "Tag Istio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rust RSS": {
      "main": [
        [
          {
            "node": "Tag Rust",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go RSS": {
      "main": [
        [
          {
            "node": "Tag Go",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ArgoCD RSS": {
      "main": [
        [
          {
            "node": "Tag ArgoCD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knative RSS": {
      "main": [
        [
          {
            "node": "Tag Knative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare RSS": {
      "main": [
        [
          {
            "node": "Tag Cloudflare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import AI RSS": {
      "main": [
        [
          {
            "node": "Tag Import AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "This Week in Rust RSS": {
      "main": [
        [
          {
            "node": "Tag This Week in Rust",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Golang Weekly RSS": {
      "main": [
        [
          {
            "node": "Tag Golang Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare Changelog RSS": {
      "main": [
        [
          {
            "node": "Tag Cloudflare Changelog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps Weekly RSS": {
      "main": [
        [
          {
            "node": "Tag DevOps Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SRE Weekly RSS": {
      "main": [
        [
          {
            "node": "Tag SRE Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tl;dr sec RSS": {
      "main": [
        [
          {
            "node": "Tag tl;dr sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Google AI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Kubernetes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Istio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Rust": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Go": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag ArgoCD": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Knative": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Cloudflare": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Import AI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag This Week in Rust": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Golang Weekly": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Cloudflare Changelog": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag DevOps Weekly": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag SRE Weekly": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag tl;dr sec": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Ollama Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Classify": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Is Relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Relevant": {
      "main": [
        [
          {
            "node": "Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate": {
      "main": [
        [
          {
            "node": "Parse Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Translation": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
